.wallpaper {
  position: fixed; 
  top: 0; 
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
}

@keyframes mymove {
    from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rerotate {
    from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(1deg);
  }
}

  // #text-box {
  //   opacity: 0.7;
  //   padding: 0;
  //   margin: auto;
  //   display: block;
  //   background-color: transparent;
  //   position: absolute;
  //   // top: -10%;
  //   bottom: 17%;
  //   left: 0;
  //   right: 3%;
  //   z-index: -3;
  // }

#sign1 {
    opacity: 0.7;
    padding: 0;
    margin: auto;
    display: block;
    height: 65%;
    position: fixed;
    top: 3%;
    bottom: 12%;
    left: 0;
    right: 0;
    z-index: -4;
    animation: mymove 20s infinite linear;
}


#sign2 {
    opacity: 0.3;
    padding: 0;
    margin: auto;
    display: block;
    height: 132%;
    position: fixed;
    top: -35%;
    right: 49%;
    // left: -15%;
    z-index: -5;
    animation: rerotate 100s infinite linear;
}
#sign3 {
    opacity: 0.5;
    padding: 0;
    margin: auto;
    display: block;
    height: 132%;
    width: auto;
    position: fixed;
    bottom: -83%; 
    // top: 50%;
    left: 30%;
    // right: 0;
    z-index: -6;
    animation: mymove 60s infinite linear;
}

#sign4 {
    opacity: 0.7;
    padding: 0;
    margin: auto;
    display: block;
    height: 110%;
    position: fixed;
    top: -20%;
    left: 50%;
    z-index: -7;
    animation: mymove 70s infinite linear;
}

.popup {
  position: fixed;
  top: 45%; 
  left: 50%; 
  transform: translate(-50%, -50%) scale(0); 
  transition: 200ms ease-in-out;
  border: solid white;
  border-radius: 50px;
  z-index: 10;
  background-color: rgba(80, 255, 130, 0.5);
  width: 700px; 
  max-width: 80%;
}

.popup.active {
  transform: translate(-50%, -50%) scale(1); 
}


.popup-header {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-header #popup-title {
  color: white;
  font-family: Luminari, fantasy;
  font-size: 1.25rem;
  font-weight: bolder;
}

#close {
  cursor: pointer; 
  border: none; 
  outline: none; 
  background: none;
  font-size: 1.5rem; 
  font-weight: bold;
}

.open{
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 30px;
  right: 100px;  
  background: none;
  border: none;
  animation: floating 5s infinite linear;
}

.open:hover {
  opacity: 1; 
  animation: fastbeat 3s infinite ease-in-out; 
}

#popup-body {
  font-family: Luminari, fantasy;
  font-size: 1.25rem;
  color: white;
  padding: 30px 30px;
}

#overlay {
  position: fixed; 
  opacity: 0;
  top: 0; 
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(98, 100, 180, 0.4);
  transition: 200ms ease-in-out;
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}


