body {
   background-image: url('/src/images/purple.jpeg');
   background-color: #cccccc;
   background-size: cover;
}

#sign1 {
    // opacity: 0.8;
    padding: 0;
    margin: auto;
    display: block;
    height: 500px;
    position: absolute;
    top: 0;
    bottom: 12%;
    left: 0;
    right: 0;
    z-index: -2;
}

#sign2 {
    opacity: 0.5;
    padding: 0;
    margin: auto;
    display: block;
    height: 1000px;
    position: absolute;
    top: -35%;
    // bottom: auto;
    left: -15%;
    // right: auto;
    z-index: -3;
}

#sign4 {
//     opacity: 0.9;
    padding: 0;
    margin: auto;
    display: block;
    height: 800px;
    position: absolute;
    top: -20%;
    // bottom: auto;
    left: 50%;
    // right: auto;
    z-index: -4;
}

#sign3 {
    opacity: 0.5;
    padding: 0;
    margin: auto;
    display: block;
    height: 1000px;
    position: absolute;
    top: 40%;
    // bottom: auto;
    left: 50%;
    // right: auto;
    z-index: -4;
}